<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../main.css">
        <link rel="stylesheet" href="../static/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <title>Alexandria: Analytics</title>
    </head>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="sidenavbar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <!--Fill content using JQuery-->
            </div>

            <div class="content col py-3">
                <div class = "header row p-2 mx-2 mt-4 bg-teal-200">
                    <p class="m-0"> <a class="text-decoration-none text-dark" href="home.html">Home</a> >> <a class="text-decoration-none text-dark" href="analytics.html"> Analytics </a></p>
                </div>
                <div class = "content row px-2 py-3 mx-2 my-1 text-center bg-secondary text-white">
                    <h3 class="title text-uppercase">Top Terms per Genre</h3>
                <p class="lead fs-6">
                    From the analysis of 2500 books which is a subset of dataset compiled by Inamdar of books from GoodReads scraped using Selenium. 
                    <br> Checkout the compiled dataset in Kaggle. Link <a class="text-yellow-400" href="https://www.kaggle.com/datasets/athu1105/tagmybook">here</a>.</p>
                </div>
                
            </div>
        </div>
    </div>
    <script src="../controllers/sidebar.js"></script>
<script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</html>