<div class="card m-2 px-1" style="width: 18rem;">
  <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Book Genre</h6>
      <h5 class="card-title">Book Title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Author Name</h6>
      <p class="card-text">Just some description about the summary of the book. Similar to a synopsis or summary but shorter or cutoff like so . . .</p>
      <a href="#" class="btn btn-primary">Read Book</a>
    </div>
</div>