<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../main.css">
        <link rel="stylesheet" href="../static/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <title>Alexandria: Genre Checker</title>
    </head>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="sidenavbar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <!--Fill content using JQuery-->
            </div>

            <div class="content col py-3">
                <div class = "header row p-2 mx-2 mt-4 bg-teal-200">
                    <p class="m-0"> <a class="text-decoration-none text-dark" href="home.html">Home</a> >> <a class="text-decoration-none text-dark" href="genre-checker.html"> Genre Checker</a></p>
                </div>
                <div class="sub-header d-flex justify-content-between mx-2 pt-3 row">
                    <div class="col">
                        <h1>Genre Checker</h1>
                    </div>
                    <p class="genre-checker-desc fs-6">
                        The Genre Checker will allow you to identify the genre of books by simply inputting the title and summary of a text, and it will then provide you with the most suitable genre based on the information. 
                        <br>
                        <span class="desc">Note: <br>&emsp;&emsp;&emsp;1. The accuracy of the genre checker will vary depending on the quality of provided text. Thus, providing more substantial summary will make the prediction more accurate. <br>&emsp;&emsp;&emsp;2. The checker may occassionaly produce incorrect results.</span>
                    </p>
                </div>
                <div class="content row px-2 py-2 mx-2 mt-1 text-justify checker-form">
                    <div class = "content col py-3 mb-1 text-white">
                        <form action="#" method="GET">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control bg-white px-3" rows="10" placeholder="Enter Book Title here" aria-label="title" aria-describedby="basic-addon1"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <textarea class="form-control bg-white px-3" rows="10" placeholder="Enter summary text here" aria-label="summary" aria-describedby="basic-addon2" required></textarea>
                            </div>
                            <div class="mt-2 mb-0 d-grid justify-content-end">
                                <input type="submit" class="genre-btn text-white rounded-2 px-3 py-1 border-0 shadow-sm" value="Check Genre">
                            </div> 
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="../controllers/sidebar.js"></script>
<script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</html>