<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    
    <div class="titleblock d-flex flex-row justify-content-center gap-2 mt-5">

        <div class="appicon col-auto col-px-3 px-1">
            <iconify-icon icon="fa6-solid:book-open-reader" style="color: #0D4040;" width="36" height="36"></iconify-icon>
        </div>
        <div class="app-title col flex-column" style = "color: #0D4040">
            
            <h4 class="heading flex-row justify-content-center text-uppercase mb-0 font-weight-bold fs-5 d-none d-sm-inline ">
                Alexandria
            </h4>
            <br/>
            <h6 class = "heading flex-row ms-1 d-none d-sm-inline" style="font-size: 9px;">
                Book Keeping and Inventory
            </h6>
           
        </div>
    </div>


    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item flex-row py-2 px-1 ms-1">
            <a href="home.html" class="nav-link align-middle px-0">
                <iconify-icon class = "flex-column align-middle" icon="iconamoon:home-light" style="color: #0D4040;" width="30" height="30"></iconify-icon>
                <span class="flex-column ms-1 d-none d-sm-inline align-middle">Home</span>
                
            </a>
        </li>

        <li class = "nav-item flex-row py-2 px-1 ms-1">
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <iconify-icon class = "flex-column align-middle" icon="tabler:book" style="color: #0D4040;" width="30" height="30"></iconify-icon>
                <span class="ms-1 d-none d-sm-inline align-middle">Books</span>
            </a>
        </li>

        <li class = "nav-item flex-row py-2 px-1 ms-1">
            <a href="analytics.html" class="nav-link px-0 align-middle">
                <iconify-icon class = "flex-column align-middle" icon= "tabler:brand-google-analytics" style="color: #0D4040;" width="30" height="30"></iconify-icon>
                <span class="ms-1 d-none d-sm-inline">Analytics</span></a>
        </li>

        <li class = "nav-item flex-row py-2 px-1 ms-1">
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                <iconify-icon class = "flex-column align-middle" icon="fluent:book-pulse-24-filled" style="color: #0D4040;" width="30" height="30"></iconify-icon>
                <span class="ms-1 d-none d-sm-inline">Genre Checker</span></a>
        </li>
       
    </ul>

    <hr>

</div>