<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
        <title>Alexandria: Books</title>
    </head>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="sidenavbar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <!--Fill content using JQuery-->
            </div>

            <div class="content col py-3">
                <div class = "header row p-2 mx-2 mt-4 bg-teal-200">
                    <p class="m-0"> <a class="text-decoration-none text-dark" href="/">Home</a> >> <a class="text-decoration-none text-dark" href="/books"> Books </a></p>
                </div>

                <div class="sub-header d-flex justify-content-between mx-0 pt-2 row">
                    <div class="col">
                        <h1>List of Books</h1>
                    </div>

                    <div class="col d-flex justify-content-end align-self-center ml-auto">
                        <a type="button" class="add-book btn btn-primary btn-sm d-inline-flex justify-content-center" href="/add-books" style="width: 150px;">
                            <iconify-icon icon="ic:round-add" style="color: white;" width="30"></iconify-icon>
                            <span class="align-self-center fs-5">
                                Add book
                            </span> 
                        </a>
                    </div>
                </div>
                
                <div class="table row p-2 mr-0">
                  <table id="tableID" class="display">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                </div>
              </table>
            </div>
        </div>
    </div>
<script src="{{url_for('static', filename='js/sidebar.js')}}"></script>
<script src="{{url_for('static', filename='js/data_table.js')}}"></script>
<script src="{{url_for('static', filename='js/to-add-books.js')}}"></script>
<script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</html>