<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <title>Alexandria: Home</title>
    </head>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="sidenavbar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <!--Fill content using JQuery-->
            </div>

            <div class="content col py-3">
                <div class = "header row px-2 mx-2 mt-2">
                    <div class="input-group mb-3" >
                        <span class="input-group-text" id="basic-addon1">
                            <iconify-icon icon="prime:search" style="color: #004541;" width = "26" height = "26"></iconify-icon>
                        </span>
                        <input type="text" class="form-control" placeholder="Search book title..." aria-label="searchbar" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class = "header row p-2 mx-2 mt-2 bg-teal-200">
                    <p class="m-0"> <a class="text-decoration-none text-dark" href="home.html">Home</a></p>
                </div>

                <div class = "carousel row px-2 py-3 mx-2 my-1 bg-secondary">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://scontent.fmnl25-4.fna.fbcdn.net/v/t1.15752-9/358027372_643003227719821_8893149327020897890_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeG86CH6vQXWvhkhLdcH2-ITRP3F8aNjaltE_cXxo2NqW1lBUAlsrXFO2XXZTntGaPX5dls8pvM9DSql0rG6R4kP&_nc_ohc=9ZoMAzq-n0sAX_H0cUf&_nc_ht=scontent.fmnl25-4.fna&oh=03_AdScpE6IZMiwG7qXJVgp2A0Z_FPP1-Q_rf5_QTmtHnHf7w&oe=64CBA58B" class="d-block w-25 h-25   rounded mx-auto" alt="...">
                          </div>
                          {% for record in images %}
                            <div class="carousel-item" style="max-height: 100%;">
                              <img src="data:image/png;base64, {{ record.image }}"  class="d-block w-25 rounded mx-auto"  alt="...">
                            </div>
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>

                <div class = "content row px-2 py-3 mx-2 my-1 text-center ">
                  <h3 style = "color:#004541">Welcome to Alexandria</h3>
                  <p class="lead">
                  Alexandria contains a library of books with different genres that you can ever ask for. Find the perfect book to read and even have the analytics of the available books. Find out the genre of a story by simply providing the summary.</p>
                </div>

                <div class = "content-cards row py-3">
                  {% for record in some_books %}
                  <div class = "col pb-3 d-flex justify-content-center">
                    <div class="card h-100 m-0 text-wrap" style="width: 18rem;">
                      <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap">
                        <div class="card-body pd-5">
                          <h6 class="card-subtitle mb-2 text-muted">{{record.genre}}</h6>
                          <h5 class="card-title">{{record.title}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{record.book_author}}</h6>
                          <p class="card-text text-truncate">{{record.summary}}</p>
                        </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/sidebar.js')}}"></script>
<script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</html>