<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Alexandria: Sign In</title>
</head>
<body class="login-body">
    <article class="center-body">
        <div class="container">
            <div class="row g-0 mx-5">
                <div class="login-left p-4 col-sm-6 col-md-7 bg-blue-500 rounded-start-5 shadow">
                    <div class="d-flex flex-row justify-content-center gap-3 mt-5">
                        <div class="">
                            <iconify-icon icon="fa6-solid:book-open-reader" style="color: #e9e9e9;" width="56" height="56"></iconify-icon>
                        </div>
                        <div class="app-title text-white">
                            <h2 class="heading text-uppercase mb-0 font-weight-bold">
                                Alexandria
                            </h2>
                            <h5>
                                Book Keeping and Inventory
                            </h5>
                        </div>
                    </div>
                </div>

                <!--Sign In column-->
                <div class="login-right py-5 px-3 col-6 col-md-5 rounded-end-5 shadow">
                    <div class="mx-5 pb-5">
                        <h2 class="mb-4">Sign In</h2>
                        <form class="signin-form">
                            <input class="form-control form-rounded mb-3" type="text" id="username" name="username" placeholder="Enter Username">
                            <input class="form-control form-rounded" type="password" id="password" name="password" placeholder="Enter Password">
                            <div class="mt-4 mb-3 d-grid justify-content-center">
                                <button type="btn" class="signin-btn text-white rounded-4 px-5 py-1 border shadow-sm">Sign In</button>
                            </div> 
                        </form>
                        <p class="text-center mb-5">
                            New here? <a href="signup.html" class="text-teal-700 text-decoration-none">Sign Up Here</a>
                        </p>
                    </div>
                </div>
                <!--end of sign in column-->
            </div>
        </div>
    </article>
    <script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</body>
</html>
